$main_theme_color: #FFD32A;
$main_theme_color_lighten: rgba(255, 211, 42, .15);
$theme_second_color: #474747;
$theme_third_color: #707070;
$overlay_color: rgba(26, 26, 26, .8);
$modal_bg: rgba(26, 26, 26, .3);