$main_theme_color: #FFD32A;
$main_theme_color_lighten: rgba(255, 211, 42, .15);
$theme_second_color: #474747;
$theme_third_color: #707070;
$overlay_color: rgba(26, 26, 26, .8);
$modal_bg: rgba(26, 26, 26, .3);

$main_theme_color_projects: rgba(255, 211, 41, .7);
$input_form_focus_bg: rgba(255, 211, 41, .5);


///dialogs
$dialog_status_success: rgb(23, 119, 23);
$dialog_status_error: rgb(155, 23, 23);